@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(gallery/bg5.jpg);
}

header{
    background-color: #1e1e1e;
    color: white;
    height: 10vh;
    background-size: 10px;
}


.logo{
    color: white;
    margin: 70px;
    line-height:70px;
    font-size: 32px;
}


ul{
    float: right;
    list-style-type: none;
    margin-top: 10px;
}

li{
    display: inline-block;
    padding: 20px;
    color: white;
}

.heading a{
    color: white;
}

a{
    text-decoration: none;
    color: black;
    padding: 3px;
    border: 1px solid transparent;
    font-size: 18px;
    line-height: 10px;
    margin-right: 25px;
    background: transparent;
}

ul li a:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
    transition: 0.5s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.section{
    width: 90%;
    min-width: 100vh;
}

.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 60px;
}

.content-section{
    float: left;
    width: 55%;
}

.image-section{
    float: right;
    width: 40%;
}

.image-section img{
    width: 70%;
    height: 85%;
    padding-left: 15%;
    padding-top: 10%;
}

.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
}

.container .image-section{
    border-left: 2px solid #3d3d3d;
    height: 500px;
    position: absolute;
    left: 50%;
}

.content-section .content h3{
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 21px;
}

.content-section .content p{
    text-align: justify;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
    padding-right: 10%;
}

.content-section .content .button{
    margin-top: 30px;
}

.content-section .content .button a{
    background-color: #3d3d3d;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1.5px;
}

.content-section .content .button a:hover{
    background-color: #a52a2a;
    color: #fff;
    transition: 0.3s;
}

.content-section .social{
    margin-top: 40px;
}

.content-section .social i{
    color: #a52a2a;
    font-size: 30px;
    padding: 0px 10px;
}

footer{
    padding: 3px;
    font-size: 15px;
    letter-spacing: 1px;
    padding-top: 36.5%;
    text-align: center;
}