body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(gallery/bg5.jpg);
}

header{
    background-color: #1e1e1e;
    color: white;
    height: 10vh;
    background-size: 10px;
}


.logo{
    color: white;
    margin: 70px;
    line-height:70px;
    font-size: 32px;
}


ul{
    float: right;
    list-style-type: none;
    margin-top: 10px;
}

li{
    display: inline-block;
    padding: 20px;
    color: white;
}

.heading a{
    color: white;
}

a{
    text-decoration: none;
    color: black;
    padding: 3px;
    border: 1px solid transparent;
    font-size: 18px;
    line-height: 10px;
    margin-right: 25px;
    background: transparent;
}

ul li a:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
    transition: 0.5s;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.center form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt-field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt-field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt-field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

.txt-field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: 0.5s;
}

.txt-field input:focus ~ label,
.txt-field input:valid ~ label{
    top: -5px;
    color: #2691d9;
}

.txt-field input:focus ~ span::before,
.txt-field input:valid ~ span::before{
    width: 100%;
}

.pass{
    margin: -5px 0 20px 5px;
    color: a6a6a6;
    cursor: pointer;
}

.pass:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-size: 700;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    border-color: #2691d9;
    transition: 0.5s;
}

.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: 666666;
}

.signup_link a{
    color: #2691d9;
    text-decoration: underline;
}

.signup_link a:hover{
    text-decoration: underline;
}

footer{
    padding: 3px;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 40.6%;
}