body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(gallery/bg5.jpg);
}

header{
    background-color: #1e1e1e;
    color: white;
    height: 10vh;
    background-size: 10px;
}


.logo{
    color: white;
    margin: 70px;
    line-height:70px;
    font-size: 32px;
}


ul{
    float: right;
    list-style-type: none;
    margin-top: 10px;
}

li{
    display: inline-block;
    padding: 20px;
    color: white;
}

.heading a{
    color: white;
}

a{
    text-decoration: none;
    color: black;
    padding: 3px;
    border: 1px solid transparent;
    font-size: 18px;
    line-height: 10px;
    margin-right: 25px;
    background: transparent;
}

ul li a:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
    transition: 0.5s;
}

*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-section{
    position: absolute;
    background: white;
    box-sizing: border-box;
    padding: 25px 20px;
    border-radius: 10px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-section h1{
    text-align: center;
    color: b;
}

.border{
    width: 350px;
    height: 1px;
    background: rgb(207, 207, 192);
    margin: 40px auto;
}

.contact-form{
    max-width: 400px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #ddd;
    padding: 10px 40px;
    outline: none;
    color: black;
    transition: 0.5s;
}

.contact-form-text:focus{
    box-shadow: 0 0 3px 1px;
}

textarea.contact-form-text{
    resize: none;
    height: 100px;
}

.contact-form-btn{
    float: right;
    border: 0;
    background: royalblue;
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover{
    background: blue;
}

footer{
    padding: 3px;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 40.6%;
}