body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(gallery/bg5.jpg);
}

header{
    background-color: #1e1e1e;
    height: 10vh;
    background-size: 10px;
    color: white;
}


.logo{
    color: white;
    margin: 70px;
    line-height:70px;
    font-size: 32px;
}


ul{
    float: right;
    list-style-type: none;
    margin-top: 10px;
}

li{
    display: inline-block;
    padding: 20px;
    color: white;
}

.heading a{
    color: white;
}

a{
    text-decoration: none;
    color: black;
    padding: 3px;
    border: 1px solid transparent;
    font-size: 18px;
    line-height: 10px;
    margin-right: 25px;
    background: transparent;
}

ul li a:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
    transition: 0.5s;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 0 20px 20px 20px;
    width: 97.3%;
}

.item{
    height: 290px;
    width: 97%;
    margin: 5px;
    border: 1px solid black;
    text-align: center;
    background-color: #e6e6e6;
}

img{
    height: 250px;
    width: 98.5%;
    margin: 3px;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-family: serif;
    text-decoration: underline;
    color: black;
}

footer{
    padding: 3px;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
}