body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(gallery/bg5.jpg);
}

header{
    background-color: #1e1e1e;
    height: 10vh;
    background-size: 10px;
    color: white;
}


.logo{
    color: white;
    margin: 70px;
    line-height:70px;
    font-size: 32px;
}


ul{
    float: right;
    list-style-type: none;
    margin-top: 10px;
}

li{
    display: inline-block;
    padding: 20px;
    color: white;
}

.heading a{
    color: white;
}

a{
    text-decoration: none;
    color: black;
    padding: 3px;
    border: 1px solid transparent;
    font-size: 18px;
    line-height: 10px;
    margin-right: 25px;
    background: transparent;
}

ul li a:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
    transition: 0.5s;
}

.container{
    background-color: #7a7a7a;
    color: white;
    padding: 15px;
    margin: 10px;
    float: left;
    border-radius: 7px;
    width: 29.63%;
    font-size: 10px;
}

.container .seventh{
    left: 30px;
}

.container h2{
    font-size: 18px;
}

.container a{
    line-height: 22px;
    color: white;
}

footer{
    padding: 3px;
    font-size: 15px;
    letter-spacing: 1px;
    padding-top: 50%;
    text-align: center;
}

